@{
    ViewData["Title"] = "Panel Administratora";
}

@if(ViewBag.role=="3")
{
    <h2>Panel administratora</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Imię</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Rola</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in ViewBag.Users)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Phone</td>
                    <td>@(user.Role_id == 1 ? "Zbanowany" : "Zwykły użytkownik")</td>
                    <td>
                        @if (user.Role_id == 1)
                        {
                            <button class="btn btn-success" onclick="location.href='@Url.Action("UnbanUser", "Home", new { id = user.User_id })'">Odbanuj</button>
                        }
                        else
                        {
                            <button class="btn btn-danger" onclick="location.href='@Url.Action("BanUser", "Home", new { id = user.User_id })'">Zbanuj</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

else if(ViewBag.role!="3")
{
    <h1>Brak dostępu</h1>
}