@{
    ViewData["Title"] = "Panel Administratora - Rezerwacje";
}

@if (User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value == "3")
{
    <div class="admin-panel">
        <h2>Panel Rezerwacji</h2>
        <div class="table-container">
            <table class="admin-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Użytkownik</th>
                        <th>Email</th>
                        <th>Sala</th>
                        <th>Początek</th>
                        <th>Koniec</th>
                        <th>Cena</th>
                        <th>Akcje</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var r in ViewBag.AdminReservations)
                    {
                        <tr>
                            <td>@r.ReservationId</td>
                            <td>@r.UserName</td>
                            <td>@r.UserEmail</td>
                            <td>@r.RoomName</td>
                            <td>@r.StartDate.ToString("yyyy-MM-dd")</td>
                            <td>@r.EndDate.ToString("yyyy-MM-dd")</td>
                            <td>@r.Price zł</td>
                            <td>
                                <a class="btn-action btn-ban" asp-controller="Home" asp-action="UsunPokoj" asp-route-id="@r.ReservationId">Anuluj</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}

else if (User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value != "3")
{
    <div class="no-access">
        <h1>Brak dostępu</h1>
        <p>Nie masz uprawnień do wyświetlania tego panelu.</p>
    </div>
}