@{
    ViewData["Title"] = "Panel Administratora - Edycja użytkownika";
}

@if (User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value == "3")
{
    <div class="edit-panel">
        <h2>Szczegóły użytkownika</h2>

        @if (ViewBag.User != null)
        {
            <form asp-action="EdycjaUzytkownicyPost" asp-controller="Home" method="post" class="edycja">
                <input type="hidden" name="User_id" value="@ViewBag.User.User_id" />

                <label>Imię:</label>
                <input type="text" name="Name" value="@ViewBag.User.Name" />

                <label>Email:</label>
                <input type="email" name="Email" value="@ViewBag.User.Email" />

                <label>Numer telefonu:</label>
                <input type="tel" name="Phone" value="@ViewBag.User.Phone" />

                <label>Rola:</label>
                <select name="Role_id">
                    <option value="1" selected="@(ViewBag.User.Role_id == 1 ? "selected" : null)">Zbanowany</option>
                    <option value="2" selected="@(ViewBag.User.Role_id == 2 ? "selected" : null)">Zwykły użytkownik</option>
                    <option value="3" selected="@(ViewBag.User.Role_id == 3 ? "selected" : null)">Administrator</option>
                </select>

                <label>Login:</label>
                <input type="text" name="Login" value="@ViewBag.User.Login" />

                <label>Hasło:</label>
                <input type="text" name="Password" value="@ViewBag.User.Password" />

                <button type="submit">Zapisz zmiany</button>
            </form>
        }
    </div>
}
else if (User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value != "3")
{
    <div class="no-access">
        <h1>Brak dostępu</h1>
        <p>Nie masz uprawnień do wyświetlania tego panelu.</p>
    </div>
}
