@{
    ViewData["Title"] = "Moje Rezerwacje";
}
<div class="resv-container">
    @if (ViewBag.Reservation != null)
    {
        <div class="resv-list">
            @foreach (var reservation in ViewBag.Reservation)
            {
                <div class="resv-card">
                    <a class="resv-link" asp-controller="Home" asp-action="Pokoj" asp-route-id="@reservation.roomId">
                        <img class="resv-image" src="~/Static/@reservation.image" alt="Zdjęcie pokoju" />
                        <div class="resv-details">
                            <h2 class="resv-name">@reservation.name</h2>
                            <p class="resv-price">Cena: @reservation.price</p>
                            <p class="resv-date">Start: @reservation.startDate</p>
                            <p class="resv-date">Koniec: @reservation.endDate</p>
                        </div>
                    </a>
                    <a class="resv-delete" asp-controller="Home" asp-action="DeleteReservation" asp-route-reservationId="@reservation.id">Usuń</a>
                </div>
            }
        </div>
        <div class="resv-summary">
            <h2 class="resv-total">Cena całej rezerwacji: @ViewBag.TotalPrice</h2>
            <a class="resv-pay-button" asp-controller="Home" asp-action="Pay" asp-route-reservationId="@ViewBag.ReservationId">Zapłać</a>
        </div>
    }

    @if (ViewBag.Message != null)
    {
        <h2 class="resv-message">@ViewBag.Message</h2>
    }
</div>





<div class="page">
    @if (ViewBag.CurrentPage > 1)
    {
       <a class="page-link"
          asp-controller="Home"
           asp-action="StaticSites"
           asp-route-name="Rezerwacje"
          asp-route-pageNumber="@(ViewBag.CurrentPage - 1)">
           Poprzednia
       </a>

    }

    <span class="current-page">
        Strona @ViewBag.CurrentPage z @ViewBag.TotalPages
    </span>

    @if (ViewBag.CurrentPage < ViewBag.TotalPages)
    {

        <a class="page-link"
           asp-controller="Home"
           asp-action="StaticSites"
           asp-route-name="Rezerwacje"
           asp-route-pageNumber="@(ViewBag.CurrentPage + 1)">
            Nastepna
        </a>      
    }
</div>