@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Strona główna";
}

@{
    <p>@HttpContextAccessor?.HttpContext?.Request.Cookies["login"]</p>
    <p>@ViewBag.name</p>
    if (ViewBag.Rooms != null)
    {

        foreach (var room in ViewBag.Rooms)
        {
            <h1>@room.name</h1>
            <img src="~/Static/@room.image" />
            <p>@room.price</p>
            <p>@room.capacity</p>
            <p>@room.description</p>
            <p>@room.type</p>
            <p>@room.location</p>
        
        }
        
    }

}