@{
    ViewData["Title"] = "Strona główna";
}

@{
    string img;

    if (ViewBag.Rooms != null)
    {

        foreach (var room in ViewBag.Rooms)
        {
            <h1>@room.name</h1>
            <img src="~/Static/@room.image" />
            <p>@room.price</p>
            <p>@room.capacity</p>
            <p>@room.description</p>
            <p>@room.type</p>
            <p>@room.location</p>
        
        }
        
    }
}