@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Strona główna";
}

<div class="main-container">
    <div class="search-bar">
        <input type="text" placeholder="Wyszukaj pokój...">
    </div>
    <div class="content">
        <div class="filters">
            <h3>Filtry</h3>
            <select name="cars" id="cars">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        </div>
        <div class="rooms">
            @if (ViewBag.Rooms != null)
            {
                <p>@HttpContextAccessor?.HttpContext?.Request.Cookies["login"]</p>
                <p>@ViewBag.name</p>
                foreach (var room in ViewBag.Rooms)
                {
                    <div class="room">
                        <img class="room-image" src="~/Static/@room.image" />
                        <h1>@room.name</h1>
                        <p class="room-price">@room.price</p>
                        <p class="room-location">@room.location</p>
                    </div>
                }
            }
        </div>
    </div>
    <div class="page">
        @if (ViewBag.CurrentPage > 1)
        {
            <a class="page-link" asp-action="StaticSites"
               asp-route-name="StronaGlowna"
               asp-route-pageNumber="@(ViewBag.CurrentPage - 1)">
                Poprzednia
            </a>
        }

        <span class="current-page">
            Strona @ViewBag.CurrentPage z @ViewBag.TotalPages
        </span>

        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <a class="page-link" asp-action="StaticSites"
               asp-route-name="StronaGlowna"
               asp-route-pageNumber="@(ViewBag.CurrentPage + 1)">
                Następna
            </a>
        }
    </div>
</div>
